/* line 22, ../../scss/opt/gradients.scss */
a.button,
.ui-widget-content a.button,
span.button,
input[type="submit"],
input[type="reset"],
button {
  background-color: #a2a2a2;
  /* Old browsers */
  background-image: -moz-linear-gradient(top, #a2a2a2 0%, #787878 100%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a2a2a2), color-stop(100%, #787878));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #a2a2a2 0%, #787878 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #a2a2a2 0%, #787878 100%);
  /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #a2a2a2 0%, #787878 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #a2a2a2 0%, #787878 100%);
  /* W3C */
}

/* line 31, ../../scss/opt/gradients.scss */
table.listing th {
  background-color: #a2a2a2;
  /* Old browsers */
  background-image: -moz-linear-gradient(top, #a2a2a2 0%, #787878 100%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a2a2a2), color-stop(100%, #787878));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #a2a2a2 0%, #787878 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #a2a2a2 0%, #787878 100%);
  /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #a2a2a2 0%, #787878 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #a2a2a2 0%, #787878 100%);
  /* W3C */
}

/* line 35, ../../scss/opt/gradients.scss */
.message-note {
  background-color: #fcf0ad;
  /* Old browsers */
  background-image: -moz-linear-gradient(top, #fcf0ad 0%, #f9e15b 100%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcf0ad), color-stop(100%, #f9e15b));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #fcf0ad 0%, #f9e15b 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #fcf0ad 0%, #f9e15b 100%);
  /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #fcf0ad 0%, #f9e15b 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #fcf0ad 0%, #f9e15b 100%);
  /* W3C */
}

/* line 38, ../../scss/opt/gradients.scss */
.message-info {
  background-color: #f5f2ff;
  /* Old browsers */
  background-image: -moz-linear-gradient(top, #f5f2ff 0%, #b49dff 100%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f2ff), color-stop(100%, #b49dff));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f2ff 0%, #b49dff 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #f5f2ff 0%, #b49dff 100%);
  /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #f5f2ff 0%, #b49dff 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #f5f2ff 0%, #b49dff 100%);
  /* W3C */
}

/* line 41, ../../scss/opt/gradients.scss */
.message-deprecated {
  background-color: #fff4bd;
  /* Old browsers */
  background-image: -moz-linear-gradient(top, #fff4bd 0%, #ffe668 100%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff4bd), color-stop(100%, #ffe668));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #fff4bd 0%, #ffe668 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #fff4bd 0%, #ffe668 100%);
  /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #fff4bd 0%, #ffe668 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #fff4bd 0%, #ffe668 100%);
  /* W3C */
}

/* line 44, ../../scss/opt/gradients.scss */
.message-warning {
  background-color: #faead7;
  /* Old browsers */
  background-image: -moz-linear-gradient(top, #faead7 0%, #f1c28c 100%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #faead7), color-stop(100%, #f1c28c));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #faead7 0%, #f1c28c 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #faead7 0%, #f1c28c 100%);
  /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #faead7 0%, #f1c28c 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #faead7 0%, #f1c28c 100%);
  /* W3C */
}

/* line 47, ../../scss/opt/gradients.scss */
.message-tutorial {
  background-color: #faefb9;
  /* Old browsers */
  background-image: -moz-linear-gradient(top, #faefb9 0%, #f4dd6a 100%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #faefb9), color-stop(100%, #f4dd6a));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #faefb9 0%, #f4dd6a 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #faefb9 0%, #f4dd6a 100%);
  /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #faefb9 0%, #f4dd6a 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #faefb9 0%, #f4dd6a 100%);
  /* W3C */
}

/* line 50, ../../scss/opt/gradients.scss */
.message-success {
  background-color: #bfffbf;
  /* Old browsers */
  background-image: -moz-linear-gradient(top, #bfffbf 0%, #6aff6a 100%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfffbf), color-stop(100%, #6aff6a));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #bfffbf 0%, #6aff6a 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #bfffbf 0%, #6aff6a 100%);
  /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #bfffbf 0%, #6aff6a 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #bfffbf 0%, #6aff6a 100%);
  /* W3C */
}

/* line 53, ../../scss/opt/gradients.scss */
.message-error {
  background-color: #f0d8e0;
  /* Old browsers */
  background-image: -moz-linear-gradient(top, #f0d8e0 0%, #d89baf 100%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0d8e0), color-stop(100%, #d89baf));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f0d8e0 0%, #d89baf 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #f0d8e0 0%, #d89baf 100%);
  /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #f0d8e0 0%, #d89baf 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #f0d8e0 0%, #d89baf 100%);
  /* W3C */
}

/*# sourceMappingURL=gradients.css.map */
