body.base-v3-dark-skin {
	/*** Gallery Listings Page (displays all albums) ***/
	.gallery-listing-entry {
		border-color: #AAAAAA;
	}

	.gallery-listing-preview {
		border: 1px solid #AAAAAA;
		background: $base-background-color;
	}

	.gallery-listing-viewall a {
		color: #000;
	}

	/*** Gallery album page ***/
	#gallery-images .gallery-image-wrapper {
		background: none repeat scroll 0 0 white;
		border: 1px solid #AAAAAA;
	}

	/*** Gallery image view ***/
	.gallery-image-details {
		background: black;
	}
	.gallery-image-detailspane {
		background: rgba(0, 0, 0, 0.4);
		color: #999;
	}
	.gallery-image-detailspane.hover {
		background: rgba(0, 0, 0, 0.8);
	}
	.gallery-image-detailspane .gallery-image-detailspane-title {
		color: #DDD;
	}
	.gallery-image-detailspane .gallery-image-detailspane-datetakenlocation {
		color: #DDD;
	}
	.gallery-image-detailspane .gallery-image-detailspane-showhideextra {
		color: #DDD;
	}

	.gallery-image-detailspane .gallery-image-detailspane-extrainformation {
		color: #DDD;
	}
	.gallery-image-keywords {
		color: #888888;
	}
	.gallery-previous-image, .gallery-next-image {
		background: black;
	}

	.gallery-previous-image i {
		color: rgba(255, 255, 255, 0.4);
	}
	.gallery-next-image i {
		color: rgba(255, 255, 255, 0.4);
	}

	/*** The order page ***/
	#gallery-images-sorting li {
		border-bottom: 1px solid #999999;
	}
}

