.error-image {
	position:relative;
}

.error-image > img {
	width: 100%;
}

.error-top {
	position:absolute;
	top:50px;
	left:85px;
	border:none;
	color:#f3f3f3;
	font-size:2.8em;
	text-shadow:1px 1px 3px #222;
}

.error-bottom {
	position: absolute;
	width:100%;
	bottom:3px;
	background: #000;
	background: rgba(0,0,0,0.7);
	color:#f3f3f3;
	font-size:2.2em;
}
.error-bottom p {
	padding:20px;
}

body.page-error #breadcrumbs {
	display:none;
}

body.page-error .pagecontent {margin-left:0;}