/*****************************************************************************
 *****************************************************************************
 **                            LISTING TABLES                               **
 *****************************************************************************
 *****************************************************************************/


// Legacy form of listing tables, with literal tables.
table.listing {
	width: 100%;
	border: $base-border;
	border-collapse: collapse;
	font-size: 95%;
	word-wrap: break-word;
	table-layout: auto;

	tr:nth-child(even) {
		background-color: $listing-table-tr-even-bg;
	}

	tr:nth-child(odd) {
		background-color: $listing-table-tr-odd-bg;
	}

	tr:hover {
		/* Give a little high-lighting effect on mouseover for the records. */
		background-color: $listing-table-tr-hover-bg;
	}


	th {
		padding: ($base-spacing / 4) ($base-spacing / 6);
		border: $base-border-size solid darken($base-border-color, 15);
		vertical-align: top;
		background: $listing-table-th-background;
		color: $listing-table-th-color;
		position: relative;
	}

	td {
		padding: ($base-spacing / 4) ($base-spacing / 6);
		border: $base-border;
		vertical-align: top;
	}

	/* Hidden columns, set by javascript. */
	.column-optional {
		display: none;
	}

	&.listing-table-sortable {

		th .sort-icons {
			float: right;
			position: absolute;
			height: 1.5em;
			width: 1em;
			cursor: pointer;
			right: 0;
			top: 4px;
			background: $listing-table-th-background;
			
			i.icon-sort-up {
				position: absolute;
				top: 0;
				opacity: .3;
			}
			
			i.icon-sort-down {
				position: absolute;
				bottom: 0;
				opacity: .3;
			}
			
			i.icon-sort-current {
				opacity: 1;
			}
			
			&:hover {
				i.icon-sort-up {
					opacity: 1;
				}

				i.icon-sort-down {
					opacity: 1;
				}
			}
		}
		
		th i.sort-icon {
			//float: right;
		}
		th i.sort-icon.other {
			visibility: hidden;
		}
		th:hover i.sort-icon.other {
			visibility: visible;
		}
		th:hover i.sort-icon.current {
			visibility: hidden;
		}
	}

	// by default, edit is hidden.
	.edit {
		//display: none;
	}
}

// The view for selecting what columns to display.
.listing-table-column-select {
	label {
		float: left;
		margin-right: 1%;
		width: 23%;
	}
	
	.button-group {
		clear: left;
		padding-top: 1em;
		border-top-width: $listing-table-border-width;
		border-top-style: $listing-table-border-style;
		border-top-color: $listing-table-border-color;
	}
}

// CSS3 version of listing tables available as of Core 6.2
div.listing-table {
	//border-collapse: collapse;
	font-size: 95%;
	width: 100%;
	border: 0px none;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	
	.listing-table-record {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		
		&:nth-child(even) {
			background-color: $listing-table-tr-even-bg;
			
			.listing-table-cell {
				border-color: $listing-table-border-even-color;
			}
		}
		&:nth-child(odd) {
			background-color: $listing-table-tr-odd-bg;
			
			.listing-table-cell {
				border-color: $listing-table-border-odd-color;
			}
		}
		&:hover {
			/* Give a little high-lighting effect on mouseover for the records. */
			background-color: $listing-table-tr-hover-bg;
		}
	}
	
	.listing-table-group {
		display: flex;
		flex-flow: row nowrap;
		flex-grow: 10;
		flex-basis: 0;
	}
	
	.listing-table-cell {
		border-top-width: 0;
		border-right-width: $listing-table-border-width;
		border-bottom-width: $listing-table-border-width;
		border-left-width: 0;
		border-style: $listing-table-border-style;
		padding: ($base-spacing / 4) ($base-spacing / 6);
		vertical-align: top;
		
		@include word-wrap;
		
		flex-flow: row nowrap;
		flex-grow: 10;
		flex-basis: 0;
		
		&:first-child {
			border-left-width: $listing-table-border-width;
		}
		
		&.listing-table-cell-header {
			border-top-width: $listing-table-border-width;
			padding: ($base-spacing / 4) ($base-spacing / 6);
			font-weight: 600;
			vertical-align: top;
			background: $listing-table-th-background;
			color: $listing-table-th-color;
			position: relative;
			min-width: 2.5em;
		}
		
		&.column-controls {
			// Controls get a default size of a bit smaller.
			//@include flex-grow(4);
		}
	}
	
	&.listing-table-sortable {

		.sort-icons {
			float: right;
			position: absolute;
			height: 1.5em;
			width: 1em;
			cursor: pointer;
			right: 0;
			top: 4px;
			background: $listing-table-th-background;
			
			i.icon-sort-up {
				position: absolute;
				top: 0;
				opacity: .3;
			}
			
			i.icon-sort-down {
				position: absolute;
				bottom: 0;
				opacity: .3;
			}
			
			i.icon-sort-current {
				opacity: 1;
			}
			
			&:hover {
				i.icon-sort-up {
					opacity: 1;
				}

				i.icon-sort-down {
					opacity: 1;
				}
			}
		}
	}
}

@media only screen and (min-width: $breakpoint-tablet){
	div.listing-table {
		// Hide all groups and grouped columns; these are only used in responsive layouts.
		.listing-table-group, .listing-table-cell-grouped {
			display: none;
		}
		
		// Visible/Hidden columns are only compatible with full-sized interfaces.
		.listing-table-cell-header,
		.listing-table-cell-ungrouped {
			&.column-optional,
			&.column-visibility-hidden {
				// By default, optional columns are hidden.
				display: none;
			}

			&.column-optional.column-visibility-visible,
			&.column-visibility-visible {
				display: block;
			}
		}
	}
}

@media only screen and (max-width: $breakpoint-tablet){
	div.listing-table {
		// At tablet and smaller resolutions, the optional columns should disappear,
		// as the layouts are generally locked by the design at that stage.
			
		.listing-table-header {
			//display: block;
			
			.column-group-secondary {
				// Secondary group headers are hidden at tablet sizes and below.
				display: none;
			}
			
			/*.listing-table-group:first-child {
				display: flex;
				flex-direction: row;
			}
			.listing-table-group:not(:first-child) {
				display: none;
			}*/
			
			.column-controls {
				// Table column controls are hidden at tablet sizes and below, (for now)
				display: none;
			}
		}
		
		.listing-table-body {
			display: block;
			
			// Hide all UNgrouped columns; here only groups are rendered.
			.listing-table-cell-ungrouped {
				display: none;
			}
			
			.listing-table-group {
				flex-direction: row;
			}
			
			.column-group-secondary {
				.listing-table-cell:before {
					content: attr(data-title) ": ";
				}
			}
		}
		
		.listing-table-cell {
			&.column-optional {
				// By default, optional columns are hidden.
				display: none;
			}
		}
	}
}

@media only screen and (max-width: $breakpoint-mobile){
	div.listing-table {
		// At tablet and smaller resolutions, the optional columns should disappear,
		// as the layouts are generally locked by the design at that stage.
		
		.listing-table-body {
			.column-group-secondary {
				display: none;
			}
		}
	}
}