# This is the public and asset files directory.  It is changeable in the installer, so
# if you set the root directory as something else, please _add_ the directory to this list.
# Please do not remove the directories that are listed, as someone else is probably expecting that directory exclusion.
src/filestore
src/files

# Skip the netbeans project directory, this is developer centric
nbproject

# Skip the htaccess file, this is server centric
src/.htaccess

# Skip the configuration file, this is developer and server centric
src/config/configuration.xml

# Skip some Apple directories, these is machine centric
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Temp files created by gedit, (or something...)
*~
*.swp

# Skip some additional PhpStorm metafiles.  These are all project centric
# I need to include codeStyleSettings.xml since that is useful to have in the project.
.idea/*
!.idea/codeStyleSettings.xml

# Skip the GPG keys.
src/gnupg/*.gpg

# These are used in development environments.
exports
exports-archived

# These are used in the build system.
ant.properties
build/*
cache.properties
message.txt

# Skip any compiled and dynamic resource.
src/logs
src/themes/custom