<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /cae2


	## Ignore these directories.
	#RewriteCond  %{REQUEST_URI}       /assets       [OR]           # Ignore anything in the assets directory
	#RewriteCond  %{REQUEST_URI}       /install                 # Ignore anything in the install directory
	#RewriteRule  (.*)                 $1            [L]
	#
	#
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule (.*) index.php?/$1 [L]
</IfModule>

