/**
 * Styles for /admin/log
 */
/*
.page-admin-log {
	
}

@media only screen and (max-width: $breakpoint-tablet){
	.page-admin-log {
		div.listing-table .listing-table-record {
			display: block;
			width: 100%;
			
			.listing-table-cell-header.column-controls {
				display: none;
			}
			
			.column-name-type {
				width: 33%;
				display: inline-block;
			}
			
			.column-name-datetime {
				width: 31%;
				display: inline-block;
			}
			
			.column-name-ip-address {
				width: 33%;
				display: block;
			}
			
			.column-name-message {
				width: 100%;
				display: block;
			}
		}
	}
}

@media only screen and (max-width: $breakpoint-mobile){
	.page-admin-log {
		div.listing-table .listing-table-record {
			display: block;
			width: 100%;
			
			.listing-table-cell-header.column-controls {
				display: none;
			}
			
			.column-name-type {
				width: 100%;
				display: block;
			}
			
			.column-name-datetime {
				width: 100%;
				display: block;
			}
			
			.column-name-ip-address {
				width: 100%;
				display: block;
			}
			
			.column-name-message {
				width: 100%;
				display: block;
			}
		}
	}
}
*/