/* Do some useful style defines here... */
body {
	text-align:center;
	padding:0;
	margin:0;
	background:#505050;
	font-family:Helvetica, sans-serif;
	font-size:11pt;
	color:#222;
}
a {
	color:#1C2B0D;
}
a:hover {
	text-shadow:0px 1px 1px rgba(150, 150, 150, 0.8)
}
img {
	border:0;
}
p {
	padding:0.5em 0pt;
}
h1 {
	border-bottom: 1px solid rgba(90, 90, 90, 0.7);
	font-size: 150%;
	font-weight: bold;
	margin-bottom: 0.3em;
	padding-bottom: 0.2em;
}
h2 {
	font-weight: bold;
	font-size: 125%;
}
h3 {
	font-weight: bold;
	font-size: 110%;
}
h4 {
	font-weight: bold;
}
#wrapper { width:75%; margin:0 auto; text-align:left; background:#dfdfdf; box-shadow:0 0 5px #111111; -moz-box-shadow:0 1px 4px black; -webkit-box-shadow:0 1px 4px black; }
#innerwrapper { background:#EDEDED; padding:1em 1em 2em; margin:0 2px; min-height: 400px; }
fieldset { border:1px solid #AAA; padding:0.75em; margin:0.5em; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
fieldset legend { color:#555; font-size:84%; padding:0 0.5em; }
header { padding: 5px 2px 1px; display:block;}
footer { min-height: 50px; clear:both; color: #888; font-size: 90%; padding: 0.25em 1em; }
footer a { color: #999; }
footer p { clear: both; }
.clear { clear: both; }

/*** Navigation breadcrumbs and other sub-nav elements ***/
nav#breadcrumbs { font-size:80%; margin-bottom:0.5em; margin-left:1em; color:#555; padding-bottom:0.5em; border-bottom:1px solid #888; height:10px; }
nav#breadcrumbs a { color:#555; }
nav#breadcrumbs ul.controls { float:right; margin-top:-4px; }


/*** Left-column ***/
.pagecolumn { width:170px; }
.column1 #leftcol { float:left; }
.column1 section.pagecontent { margin-left:175px; overflow: hidden; }


/*** Controls that can be implemented throughout the site ***/
ul.controls { height:20px; }
ul.controls li { float:left; margin-right:0.1em; list-style:none;}
/*
And their images.  Stand-alone "control" buttons also get the same styling.
Since the icons are now being handled by font-awesome, the bulk of this logic will have been removed.
*/


/* First, the common styles for all icon'd controls. */
ul.controls li a { text-decoration: none; font-size: 14px; padding: 2px; }
ul.controls li a:hover { text-shadow: none; font-size: 18px; padding: 0; }

ul.controls li a span {
	display: none;
}

ul.controls li a i {

}

/** Spruce up FA with some color :) **/
ul.controls li a i.icon-remove,
ul.controls li a i.icon-delete { color: #7a0200; }
ul.controls li a i.icon-edit { color: blue; }
ul.controls li a i.icon-plus,
ul.controls li a i.icon-add { color: green; }


/*** Buttons and their respective images that can be used throughout ***/

/*
 * jQuery UI Button 1.8.11
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Button#theming
 */
a.button,
.ui-widget-content a.button,
span.button {
	display: inline-block;
	position: relative;
	padding:0 1em;
	margin-right:.1em;
	text-decoration: none !important;
	cursor: pointer;
	text-align: center;
	zoom: 1;
	/* the overflow property removes extra width in IE */
	overflow: visible;
	line-height: 1.4;
	background-repeat:no-repeat;


	background: #f6f8f9; /* Old browsers */
	background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 49%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(49%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 49%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 49%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 49%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 49%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

	border:2px outset rgba(80, 84, 87, 0.52);
	color: #444;
	font-weight:normal;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
}

input[type="submit"], button {
	padding:0 1em;
	margin-right:.1em;
	cursor: pointer;
	text-align: center;
	zoom: 1;
	/* the overflow property removes extra width in IE */
	overflow: visible;
	line-height: 1.4;
	background-repeat:no-repeat;


	background: #f6f8f9; /* Old browsers */
	background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 49%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(49%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 49%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 49%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 49%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 49%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

	border:2px outset rgba(80, 84, 87, 0.52);
	color: #444;
	font-weight:normal;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
}

a.button:hover { text-decoration:none; background-color: #50a3a5;}

a.button[disabled=disabled]{
	background-color: rgba(62, 126, 128, 0.49);
	border:2px outset rgba(29, 84, 87, 0.32);
	cursor: no-drop;
	color: #CCC;

	background-image: linear-gradient(bottom, rgb(148,148,148) 19%, rgb(112,111,112) 42%, rgb(148,148,148) 100%);
	background-image: -o-linear-gradient(bottom, rgb(148,148,148) 19%, rgb(112,111,112) 42%, rgb(148,148,148) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(148,148,148) 19%, rgb(112,111,112) 42%, rgb(148,148,148) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(148,148,148) 19%, rgb(112,111,112) 42%, rgb(148,148,148) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(148,148,148) 19%, rgb(112,111,112) 42%, rgb(148,148,148) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.19, rgb(148,148,148)),
		color-stop(0.42, rgb(112,111,112)),
		color-stop(1, rgb(148,148,148))
	);
}



.message-note,
.message-info,
.message-success,
.message-error {
	-moz-box-shadow: 3px 3px 5px rgba(162, 162, 162, 0.4);
	-webkit-box-shadow: 3px 3px 5px rgba(162, 162, 162, 0.4);
	box-shadow: 3px 3px 5px rgba(162, 162, 162, 0.4);
	padding:0.5em 2em;
	margin:0.05em 2em 1em;
	text-align:center;
	border-radius: 0.4em;
}
.message-note { background:#FCF0AD; border:1px solid #DED38C; color:#B87B02;}
.message-info { background:#FFA; border:1px solid #D9D866; color:#B8B102;}
.message-success { background:#AFA; border: 1px solid #85CC85; color: #0F9F42; }
.message-error { background:#FCe5ed; border:1px solid #E0ADB4; color:#DF101D;}

.rounded-large { border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }
.rounded { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }

.formcheckboxinput {
	display:inline-block;
	clear:both;
	background:#F6F6F6;
	border: 1px solid #CBCBCB;
	border-radius: 0.4em;
	color: #3C3C3C;
	padding: 0.3em 0.8em;
}

.formelement { margin-bottom:0.75em; position:relative; }
.formelement label {
	display:block;
	position:absolute;
	top: 8px;
	left: 9px;
	color: #888;
	padding:0;
}
.formelement input[type=text],
.formelement input[type=password],
.formelement textarea
{ background:#F6F6F6; border:1px solid #CBCBCB; border-radius:.4em; color:#3C3C3C; padding:0.35em 0.8em 0.35em 110px;; min-width:100px;}

.formelement.formselect label { position:relative; top:0; margin-bottom:5px; }
.formelement select
{ background:#F6F6F6; border:1px solid #CBCBCB; border-radius:0.4em 0.4em 0 0; color:#3C3C3C; padding:0.35em 0 0.35em 0.8em; min-width:100px; cursor:pointer;}


.formelement.formradioinput span { display:block;margin-bottom:5px; }
.formelement.formradioinput label {
    border: none;
    color: #3C3C3C;
    cursor: pointer;
    display: block;
    line-height: 1.7em;
    margin-right: 0.5em;
    padding: 0.25em 0.5em;
	white-space: nowrap;
	position: relative;
	top: 7px;
	left: 6px;
}
.formelement.formcheckboxinput label,
.formelement.formcheckboxesinput label {
    padding: 0.25em 0;
	white-space: nowrap;
	top:4px;
}

.formelement.formcheckboxinput input,
.formelement.formcheckboxesinput input {
	color: #3C3C3C;
	min-width: 120px;
	padding: 0.35em 0;
	margin-left: 98px;
}

.formelement.formcheckboxesinput label {position:relative;}
.formelement.formcheckboxesinput input {margin-left:0;}

.formelement.formcheckboxesinput {
	background: #F6F6F6;
	border: 1px solid #CBCBCB;
	border-radius: 0.4em;
	max-width: 415px;
	padding: 0.5em;
}

.formelement.formtextareainput label {
	margin-bottom: 5px;
	position: relative;
	top: 0;
}

.formelement.formtextareainput {
	margin-bottom:0;
}

.formelement.formtextareainput textarea {
	padding:0.35em 0.8em;
	min-width: 331px;
}

#formtextinput-page_meta-title {
	padding: 0.35em 0.8em 0.35em 165px;
	width: 173px;
}

.formelement.formradioinput label input { margin-top:0; }
.formelement.formradioinput {
	background: none repeat scroll 0 0 #F6F6F6;
	border: 1px solid #CCCCCC;
	border-radius: 0.4em 0.4em 0.4em 0.4em;
	max-width: 415px;
	padding: 0.5em;
}

.formelement.formerror input,
.formelement.formerror select,
.formelement.formerror textarea { border:1px inset red; background:#FFF0F0;}
.formelement .formdescription { font-size:85%; color:#555; margin:0.25em 0pt 0.25em 1em; }

.formfileinput { width: 352px; clear:both; }
.formfileinput .formfileinput-selector { float:left; width:130px; }

.formfileinput label {position:relative; top:0; margin-bottom: 5px;}

.formfileinput .file-input-innercontainer {
	border: 1px solid #cbcbcb;
	padding: 4px;
	background: #F6F6F6;
	border-radius: 0.4em;
}
.formfileinput .file-input-actions { margin-left: 150px; }

.file-input-innercontainer input {

}

#formfileinput-avatar-action-link input,
#formfileinput-model-image-action-link input {
	background: none repeat scroll 0 0 #EAEAEA;
	padding: 0.35em;
	width: 175px;
	margin-top: 13px;
}

.facebook-integration {
	margin-left: 0;
	max-width: 515px;
}

.ui-dialog .formelement label {
	position:relative;
	top:0;
	margin-bottom:5px;
	text-align:left;
}
.ui-dialog .formelement input {
	padding: 0.35em 0.8em;
	display: block;
}

.ui-dialog .formelement select {
	display: block;
	max-width: 100%;
}

.tinymce label {
	position:relative;
	top:0;
	margin-bottom: 5px;
}

#formtextinput-option-phone {
	padding: 0.35em 12px 0.35em 120px;
	width: 218px;
}
#formtextinput-option-username {
	padding-left: 160px;
	padding-right: 12px;
	width: 178px;
}

.page-admin-config input[type="text"] {
	padding: 0.35em 0.8em 0.35em 190px;
}
#formtextinput-page-metas-title {
	max-width: 168px;
	padding: 0.35em 0.8em 0.35em 170px;
}

table.listing { width:100%; border:1px solid #AAA; border-collapse:collapse;}
table.listing tr:nth-child(odd) { background-color:#DDEDDD; }
table.listing th{ padding:0.15em 0.5em; border:1px solid #AAA; vertical-align:top; background:#BEB; background:-moz-linear-gradient(top, #DFD 0%, #BEB 100%);}
table.listing td{ padding:0.15em 0.5em; border:1px solid #AAA; vertical-align:top;}


/*** Debugging Classes ***/
pre.xdebug-var-dump { border: 1px solid #FFE5C0; padding: 0.5em; text-align: left; font-size:0.8em; background: #f5f5f5;color:#555; }


/*** Sortables and Nested Sortables ***/
ol.sortable-listing { margin:0.5em 0pt; }
ol.sortable-listing li {  display: block; list-style: none outside none;  }
ol.sortable-listing li div.entry { border: 1px solid #BBBBBB; padding: 0.25em; }
ol.sortable-listing li.placeholder { border: 1px solid #BBBBBB; background:#BBB;}
ol.sortable-listing li a.control { margin-top: -2px; }
ol.sortable-listing ol { margin-left:1em; }



/*** Primary Navigation ***/
#primary-nav li { float:left; position:relative; text-align:center;}
#primary-nav li.navigation-menu-over a:hover { background: #333; }
#primary-nav a,
#primary-nav span { color: #777; font-weight: bold; text-decoration: none; text-transform: uppercase; display:inline-block; padding:0.5em 1em; width:160px;}
/* Enable the mouse over menu */
#primary-nav li.navigation-menu-over>ul { display:block; }
/* And the sub menu */
#primary-nav li ul { display:none; position:absolute; background:black; border:1px solid black; border-top:0 none; width:190px; -moz-box-shadow: 0 3px 6px #000; -webkit-box-shadow: 0 3px 6px #000; box-shadow: 0 3px 6px #000;}
#primary-nav li ul li { width:190px; text-align:left; }
#primary-nav li ul a,
#primary-nav li ul span{ padding-left:20px; width:155px; }
/* And any sub sub menu */
#primary-nav li ul li ul { top:-2px; left:180px; display:none; position:absolute; background:#1C2B0D; border:1px solid black; border-left:0 none; width:190px; -moz-box-shadow: 0 3px 6px #000; -webkit-box-shadow: 0 3px 6px #000; box-shadow: 0 3px 6px #000;}
#primary-nav a:hover {text-shadow:none;}

/*** Footer Navigation ***/
footer ul.navigation-menu li { list-style-type: none; float: left; padding: 0 0.5em; }
footer ul.navigation-menu li li { float: none;}


/** Collapsible fieldsets **/
fieldset.collapsed { padding:0; border-width: 1px 0px 0px; }


.progress-container {
	position: relative;
}
.progress-success {
	background: none repeat scroll 0 0 #992222;
	border: 2px solid green;
	height: 20px;
	margin-bottom: 5px;
}
.progress-success .bar {
	background: none repeat scroll 0 0 green;
	height: 20px;
}
.progress-container .progress-extended {
	color: white;
	left: 46px;
	position: absolute;
	top: 6px;
}

/** Theme Editor **/

.page-themeeditor .column1 section.pagecontent {
	margin-left:12px;
}
#theme-editor-wysiwyg {
	float:left;
}

#code {
	min-width:590px;
}

#theme-editor-browser {
	float:right;
	width:180px;
}
#theme-editor-browser h2 {color:#666;margin-bottom:3px;}

#theme-editor-browser ul {
	margin-bottom:9px;
	padding-bottom:3px;
	border-bottom: 1px solid #e1e1e1;
}

#theme-editor-browser li {
	list-style-type: none;
	margin-bottom:3px;
}

#theme-editor-browser h2 {
	cursor:pointer;
}

.theme-editor {
	display:none;
}