/* 
    Document   : styles
    Created on : Jan 30, 2011, 4:15:39 AM
    Author     : powellc
    Description:
        Purpose of the stylesheet follows.
*/


/*** Give me some fonts ***/
@font-face { font-family: 'Cousine'; font-style: normal; font-weight: normal; src: local('Cousine'), url('../fonts/Cousine-Regular.ttf') format('truetype'); }
@font-face { font-family: 'Cousine'; font-style: normal; font-weight: bold; src: local('Cousine Bold'), local('Cousine-Bold'), url('../fonts/Cousine-Bold.ttf') format('truetype'); }
@font-face { font-family: 'Cousine'; font-style: italic; font-weight: normal; src: local('Cousine Italic'), local('Cousine-Italic'), url('../fonts/Cousine-Italic.ttf') format('truetype'); }
@font-face { font-family: 'Cousine'; font-style: italic; font-weight: bold; src: local('Cousine Bold Italic'), local('Cousine-Bold-Italic'), url('../fonts/Cousine-BoldItalic.ttf') format('truetype'); }

@font-face { font-family: 'PT Sans'; font-style: normal; font-weight: normal; src: local('PT Sans'), url('../fonts/PT_Sans-Regular.ttf') format('truetype'); }
@font-face { font-family: 'PT Sans'; font-style: normal; font-weight: bold; src: local('PT Sans Bold'), local('PT_Sans-Bold'), url('../fonts/PT_Sans-Bold.ttf') format('truetype'); }
@font-face { font-family: 'PT Sans'; font-style: italic; font-weight: normal; src: local('PT Sans Italic'), local('PT_Sans-Italic'), url('../fonts/PT_Sans-Italic.ttf') format('truetype'); }
@font-face { font-family: 'PT Sans'; font-style: italic; font-weight: bold; src: local('PT Sans Bold Italic'), local('PT_Sans-Bold-Italic'), url('../fonts/PT_Sans-BoldItalic.ttf') format('truetype'); }

@font-face { font-family: 'Puritan'; font-style: normal; font-weight: normal; src: local('Puritan'), url('../fonts/Puritan-Regular.ttf') format('truetype'); }
@font-face { font-family: 'Puritan'; font-style: normal; font-weight: bold; src: local('Puritan Bold'), local('Puritan-Bold'), url('../fonts/Puritan-Bold.ttf') format('truetype'); }
@font-face { font-family: 'Puritan'; font-style: italic; font-weight: normal; src: local('Puritan Italic'), local('Puritan-Italic'), url('../fonts/Puritan-Italic.ttf') format('truetype'); }
@font-face { font-family: 'Puritan'; font-style: italic; font-weight: bold; src: local('Puritan Bold Italic'), local('Puritan-Bold-Italic'), url('../fonts/Puritan-BoldItalic.ttf') format('truetype'); }





/* Do some useful style defines here... */
body { text-align:center; padding:0pt; margin:0pt; background:#D5DAFF; font-family:Puritan, helvetica, sans-serif; font-size:11pt; color:#222;}
a { color:#1C2B0D; }
a:hover { text-shadow:0px 1px 2px rgba(28, 43, 13, 0.8);}
img { border:0px; }
p { padding:0.5em 0pt; }
#wrapper { width:75%; margin:0pt auto; text-align:left; background:black; box-shadow:0px 1px 4px black; -moz-box-shadow:0px 1px 4px black; -webkit-box-shadow:0px 1px 4px black; }
#innerwrapper { background:#EDEDED; padding:1em 1em 2em; margin:0pt 2px; }
fieldset { border:1px solid #AAA; padding:0.75em; margin:0.5em; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
fieldset legend { color:#555; font-size:84%; padding:0pt 0.5em; }
header { padding: 5px 2px 1px; display:block;}
footer { height:50px; clear:both;}


/*** Navigation breadcrumbs and other sub-nav elements ***/
nav#breadcrumbs { font-size:80%; margin-bottom:0.5em; margin-left:1em; color:#555; padding-bottom:0.5em; border-bottom:1px solid #888; height:10px; }
nav#breadcrumbs a { color:#555; }
nav#breadcrumbs ul.controls { float:right; margin-top:-4px; }


/*** Left-column ***/
.pagecolumn { width:170px; }
.column1 #leftcol { float:left; }
.column1 section.pagecontent { margin-left:175px; }


/*** Controls that can be implemented throughout the site ***/
ul.controls { height:20px; }
ul.controls li { float:left; margin-right:0.5em; list-style:none;}
/* And their images.  Stand-alone "control" buttons also get the same styling. */
ul.controls li.add a,
a.control.control-add
{ text-indent:-9999px; width:20px; height:20px; display:block; background: no-repeat left top url('../icons/add.png'); }

ul.controls li.directory a,
a.control.control-directory
{ text-indent:-9999px; width:20px; height:20px; display:block; background: no-repeat left top url('../icons/directory.png'); }

ul.controls li.delete a,
a.control.control-delete
{ text-indent:-9999px; width:20px; height:20px; display:block; background: no-repeat left top url('../icons/delete.png'); }

ul.controls li.edit a,
a.control.control-edit
{ text-indent:-9999px; width:20px; height:20px; display:block; background: no-repeat left top url('../icons/edit.png'); }

ul.controls li.view a,
a.control.control-view
{ text-indent:-9999px; width:20px; height:20px; display:block; background: no-repeat left top url('../icons/view.png'); }


/*** Buttons and their respective images that can be used throughout ***/

/*
 * jQuery UI Button 1.8.11
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Button#theming
 */
a.button,
.ui-widget-content a.button { display: inline-block; position: relative; padding:0 1.5em; margin-right:.1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible;  line-height: 1.4;  background-repeat:no-repeat; background-color:#459E00;  border:1px solid #327E04; color: #FFF; font-weight:bold; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;} /* the overflow property removes extra width in IE */

/*a.button { color: #225522; background-repeat:no-repeat; background-position:6px 1px; line-height: 2em;  text-decoration:none; border: 2px ridge #1C2B0D; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background-color:#DDEDDD; background-color:-moz-linear-gradient(top, #AA8AAA 0%, #BBB 90%, #DDEDDD 100%);}*/

a.button.delete { background-image:url('../icons/delete-lg.png'); padding-left:2.25em;}
a.button.add { background-image:url('../icons/add-lg.png'); padding-left:2.25em;}

a.button:hover { text-decoration:none; background-color:#67B021;}




.message-note,
.message-info,
.message-success,
.message-error {
	-moz-box-shadow: 3px 3px 5px #888; -webkit-box-shadow: 3px 3px 5px #888; 
	box-shadow: 3px 3px 5px #888; padding:0.5em 2em; margin:0.05em 2em 1em; text-align:center; 
}
.message-note { background:#FCF0AD; border:1px solid #BCB06D;}
.message-info { background:#FFA; border:1px solid #773; color:#551;}
.message-success { background:#AFA; border: 1px solid #373; color: #151; }
.message-error { background:#FCe5ed; border:1px solid #BC606D; color:#DF101D;}

.rounded-large { border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }
.rounded { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }


.formelement { margin-bottom:0.75em; }
.formelement label { display:block; }
.formelement input[type=text],
.formelement input[type=password],
.formelement textarea
{ background:#F6F6F6; border:1px solid #777; border-radius:1em; color:#222222; padding:0.35em 0.8em; width:96%;}
.formelement select
{ background:#F6F6F6; border:1px solid #777; border-radius:1em 0 0 0; color:#222222; padding:0.35em 0 0.35em 0.8em; width:98%; cursor:pointer;}

.formelement.formradioinput span { display:block; }
.formelement.formradioinput label {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #777;
    border-radius: 1em 1em 1em 1em;
    color: #222222;
    cursor: pointer;
    display: inline;
    line-height: 1.7em;
    margin-right: 0.5em;
    padding: 0.25em 0.5em 0.25em 0;
	white-space: nowrap;
}
.formelement.formcheckboxinput label {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #777;
    border-radius: 0 1em 1em 0;
    color: #222222;
    cursor: pointer;
    display: inline;
    line-height: 1.7em;
    margin-right: 0.5em;
    padding: 0.25em 0.5em 0.25em 0;
	white-space: nowrap;
}
.formelement.formradioinput label input { margin-top:0pt; }

.formelement.formerror input,
.formelement.formerror select,
.formelement.formerror textarea { border:1px inset red; background:#FFF0F0;}
.formelement .formdescription { font-size:85%; color:#555; margin:0.25em 0pt 0.25em 1em; }

.formfileinput-selector { float:left; width:130px; }

table.listing { width:100%; border:1px solid #AAA; border-collapse:collapse;}
table.listing tr:nth-child(odd) { background-color:#DDEDDD; }
table.listing th{ padding:0.15em 0.5em; border:1px solid #AAA; vertical-align:top; background:#BEB; background:-moz-linear-gradient(top, #DFD 0%, #BEB 100%);}
table.listing td{ padding:0.15em 0.5em; border:1px solid #AAA; vertical-align:top;}


/*** Debugging Classes ***/
pre.xdebug-var-dump { background: none repeat scroll 0 0 white; border: 1px solid #FFE5C0; padding: 0.5em; text-align: left; }


/*** Sortables and Nested Sortables ***/
ol.sortable-listing { margin:0.5em 0pt; }
ol.sortable-listing li {  display: block; list-style: none outside none;  }
ol.sortable-listing li div.entry { border: 1px solid #BBBBBB; padding: 0.25em; }
ol.sortable-listing li.placeholder { border: 1px solid #BBBBBB; background:#BBB;}
ol.sortable-listing li a.control { margin-top: -2px; }
ol.sortable-listing ol { margin-left:1em; }



/*** Primary Navigation ***/
#primary-nav li { float:left; position:relative; text-align:center;}
#primary-nav li.navigation-menu-over a:hover { background: #1C1D4B; }
#primary-nav a,
#primary-nav span { color: #DDDDDD; font-weight: bold; text-decoration: none; text-transform: uppercase; display:inline-block; padding:0.5em 1em; width:160px;}
/* Enable the mouse over menu */
#primary-nav li.navigation-menu-over>ul { display:block; }
/* And the sub menu */
#primary-nav li ul { display:none; position:absolute; background:black; border:1px solid black; border-top:0px none; width:190px; -moz-box-shadow: 0px 3px 6px #000; -webkit-box-shadow: 0px 3px 6px #000; box-shadow: 0px 3px 6px #000;}
#primary-nav li ul li { width:190px; text-align:left; }
#primary-nav li ul a,
#primary-nav li ul span{ padding-left:20px; width:155px; }
/* And any sub sub menu */
#primary-nav li ul li ul { top:-2px; left:180px; display:none; position:absolute; background:#1C2B0D; border:1px solid black; border-left:0px none; width:190px; -moz-box-shadow: 0px 3px 6px #000; -webkit-box-shadow: 0px 3px 6px #000; box-shadow: 0px 3px 6px #000;}


/** Collapsible fieldsets **/
fieldset.collapsed { padding:0pt; border-width: 1px 0px 0px; }