/*****************************************************************************
 *****************************************************************************
 **                            LISTING TABLES                               **
 *****************************************************************************
 *****************************************************************************/

$listing-table-bg: #e0e0e0;
table.listing {
	width: 100%;
	border: 1px solid darken($listing-table-bg, 15%);
	border-collapse: collapse;
	font-size: 95%;

	tr:nth-child(odd) {
		background-color: darken($listing-table-bg, 5%);
	}

	tr:hover {
		/* Give a little high-lighting effect on mouseover for the records. */
		background-color: #c7d5eb;
	}

	th {
		padding: 0.15em 0.5em;
		border: 1px solid darken($listing-table-bg, 30%);
		vertical-align: top;
		background: darken($listing-table-bg, 30%);
		color: #EEE;
	}

	td {
		padding: 0.2em 0.5em;
		border: 1px solid darken($listing-table-bg, 15%);
		vertical-align: top;
	}

	/* Hidden columns, set by javascript. */
	.column-optional {
		display: none;
	}

	&.listing-table-sortable {
		th[data-sortkey] {
			cursor: pointer;
		}

		th i.sort-icon {
			float: right;
		}
		th i.sort-icon.other {
			visibility: hidden;
		}
		th:hover i.sort-icon.other {
			visibility: visible;
		}
		th:hover i.sort-icon.current {
			visibility: hidden;
		}
	}

	// by default, edit is hidden.
	.edit {
		display: none;
	}
}
