/**
 * Handles the public /page/* styles for the theme.
 *
 * These include site search and the sitemap.
 */

.page-search-widget {
	form {
		.form-element-value {
			position: relative;
		}

		i {
			position: absolute;
			right: 5px;
			top: 8px;
		}

		.submit-button {
			display: none;
		}
	}
}

.page-page-search, .page-page-sitemap {
	.page-search-form {
		.form-element-value {
			position: relative;
		}

		i {
			position: absolute;
			right: 10px;
			top: 16px;
		}

		.submit-button {
			display: none;
		}
	}
}

.page-page-search {
	.search-result-page {
		margin-bottom: 0.75em;
	}

	.page-title {
		display: block;
		float: left;
		font-size: 105%;
	}

	.page-image {
		clear: left;
		float: left;
		margin-right: 0.25em;
	}

	.page-teaser {
		clear: right;
		color: #616161;
		font-size: 90%;
	}

	.search-relevancy {
		color: #999;
		float: right;
		font-size: 75%;
	}
}

.page-page-sitemap {
	.page-teaser {
		color: #616161;
		font-size: 90%;
	}
}