/** Theme Editor **/

.page-themeeditor .column1 section.pagecontent {
	margin-left:12px;
}
#theme-editor-wysiwyg {

}

.editor-container {
	position:relative;
}

#code {
	min-width:590px;
}

#theme-editor-browser {
	background: transparent;
	position: absolute;
	width: 350px;
	z-index: 100;
	top: 52px;
}

#theme-editor-browser a {
	color:#222;
}

#theme-editor-browser .left {
	float:left;
	width:300px;
	background:#dddddd;
	padding: 10px;
	box-shadow: 3px 4px 15px 6px #090909;
	max-height: 650px;
	opacity: 0.8;
	overflow-y: auto;
}

#theme-editor-browser .left:hover {opacity:0.9;}

#theme-editor-browser .right {
	float:right;
	width:28px;
	background:#090909;
	color:#999999;
	padding:10px 0;
	border-radius: 0 5px 5px 0;
	cursor:pointer;
	opacity: 0.8;
	border-bottom: 1px solid #2b2b2b;
	border-right: 1px solid #2b2b2b;
	border-top: 1px solid #2b2b2b;
}

#theme-editor-browser .right:hover {opacity:1;}

#theme-editor-browser .right i {margin-left:8px;}

#theme-editor-browser .icon {
	float:right;
	margin-right:2px;
}

#theme-editor-browser li .icon {margin-right:0;}

#theme-editor-browser h2 {color:#666;margin-bottom:3px;}

#theme-editor-browser ul {
	margin-bottom:9px;
	padding-bottom:3px;
	border-bottom: 1px solid #e1e1e1;
}

#theme-editor-browser .sub {display:none;}

#theme-editor-browser li .icon {cursor:pointer;}

#theme-editor-browser li {
	list-style-type: none;
	margin-bottom:3px;
}

#theme-editor-browser ul ul {margin-left:10px;}

#theme-editor-browser h2 {
	cursor:pointer;
}

.theme-editor {
	display:none;
}

#theme-editor-wysiwyg .image-editor {
	background: #202020;
	padding-bottom: 25px;
	padding-left: 285px;
}

.image-editor h2 {margin-bottom:5px;}

#revert {
	cursor:pointer;
	font-weight:bold;
	text-decoration:underline;
}

#revisions li.revision {margin-bottom:3px;}

#revisions .revision-title {cursor:pointer;}
#revisions .revision-date {color:#888;}

.page-themeeditor #dialog-confirm {display:none;}