@import "disclaimer";

@import "normalize";

@import "grid";

@import "animate";

@media print {
  @import "print";
}

@media screen,projection {
  @import "screen";
}

@import "h5bp";

/*****************************************************************************
 *****************************************************************************
 **                           GENERIC ELEMENTS                              **
 *****************************************************************************
 *****************************************************************************/
body {
	text-align:center;
	padding:0;
	margin:0;
	background: white;
	font-family:Helvetica, sans-serif;
	font-size:11pt;
	color:#222;
}
a {
	color:#1C2B0D;
}
a:hover {
	text-shadow:0 1px 1px rgba(150, 150, 150, 0.8)
}
img {
	border:0;
}
p {
	padding:0.5em 0;
	line-height: 1.25em;;
}
/**
 * In this template, the page title, (H1), is displayed in the breadcrumbs.
 */
h1 {
	/*
	border-bottom: 1px solid rgba(90, 90, 90, 0.7);
	font-size: 150%;
	font-weight: bold;
	margin-bottom: 0.3em;
	padding-bottom: 0.2em;
	*/
	font-size: 100%;
	display: inline;
}
h2 {
	font-weight: bold;
	font-size: 125%;
}
h3 {
	font-weight: bold;
	font-size: 110%;
}
h4 {
	font-weight: bold;
}

/* TESTS */
/*
h1:before { content:"H1: [ "; }
h1:after { content: " ]" }
h2:before { content:"H2: [ "; }
h2:after { content: " ]" }
h3:before { content:"H3: [ "; }
h3:after { content: " ]" }
h4:before { content:"H4: [ "; }
h4:after { content: " ]" }
p:before { content:"P: ["; }
p:after { content:"]"; }
*/


#wrapper {
	width: 75%;
	margin: 0 auto;
	text-align: left;
	background: #dfdfdf;
	box-shadow: 0 0 3px #ddd;
	-moz-box-shadow: 0 0 3px #ddd;
	-webkit-box-shadow: 0 0 3px #ddd;
}
#innerwrapper {
	background: #EDEDED;
	padding: 1em 1em 2em;
	margin: 0 2px;
	min-height: 400px;
}
fieldset {
	border: 1px solid #AAA;
	padding: 0.75em;
	margin: 0.5em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
fieldset legend {
	color: #555;
	font-size: 84%;
	padding: 0 0.5em;
}
header {
	padding: 5px 2px 1px;
	display: block;
}
footer {
	min-height: 50px;
	clear: both;
	color: #888;
	font-size: 90%;
	padding: 0.25em 1em;
}
footer a {
	color: #999;
}
footer p {
	clear: both;
}
.clear {
	clear: both;
}




/*****************************************************************************
 *****************************************************************************
 **                        IMAGE METADATA STYLES                            **
 *****************************************************************************
 *****************************************************************************/
.image-metadata-wrapper {
	display: inline-block;
	position: relative;
}
.image-metadata-wrapper .image-metadata {
	background: none repeat scroll 0 0 #DDDDDD;
	bottom: 0;
	color: black;
	font-size: 90%;
	opacity: 0.4;
	padding: 0 1em;
	position: absolute;
}
.image-metadata-wrapper:hover .image-metadata {
	opacity: 0.7;
}




/*****************************************************************************
 *****************************************************************************
 **                      RESPONSIVE WIDTH TWEAKS                            **
 *****************************************************************************
 *****************************************************************************/

/*
The wrapper should be at least 975px wide if possible.
This works up to 1300px browser width, then it needs to kick over to 75%, (which is 975px @ 1300px).
For dimensions between 1300 and 975, keep it locked at 975px, it'll float in the middle somewhere.
For dimensions smaller than 975, just be at 100%.
*/
@media screen and (max-width: 1300px) {
	#wrapper { width: 975px; }
}
@media screen and (max-width: 975px) {
	#wrapper { width: 100%; }
}
@media screen and (max-width: 640px) {
	#wrapper {
		width: 100%;
	}
	#wrapper #leftcol {
		display: none;
	}
	#wrapper.column1 section.pagecontent {
		margin-left: 0;
	}
}
@media screen and (max-width: 480px) {
	/*img {
		width: 100%;
		height: auto;
	}
	.image-metadata img {
		width: auto;
	}*/
}






/*****************************************************************************
 *****************************************************************************
 **                              BREADCRUMBS                                **
 **                                                                         **
 ** Navigation breadcrumbs and other sub-nav elements                       **
 *****************************************************************************
 *****************************************************************************/
nav#breadcrumbs {
	font-size: 80%;
	margin-bottom: 0.5em;
	margin-left: 1em;
	color: #555;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #888;
}

#breadcrumbs #controls {
	margin:0;
}

nav#breadcrumbs a {
	color: #555;
}
nav#breadcrumbs ul.controls {
	float: right;
	margin-top: -4px;
}

/*** Left-column ***/
.pagecolumn { width:170px; }
.column1 #leftcol { float:left; }
.column1 section.pagecontent {
	margin-left:175px;
	overflow: hidden;
}


.rounded-large { border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }
.rounded { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }


@import "controls";
@import "buttons";
@import "messages";
@import "form_elements";
@import "listing_tables";


table.stacktrace {
	width: 100%;
	border: 1px solid;
}
table.stacktrace th {
	border: 1px solid;
}
table.stacktrace td {
	 border: 1px solid;
	font-size: 80%;
}


/*****************************************************************************
 *****************************************************************************
 **                          DEBUGGING CLASSES                              **
 *****************************************************************************
 *****************************************************************************/
pre.xdebug-var-dump {
	border-top: 2px solid #FFE5C0;
	padding: 0;
	text-align: left;
	font-size: 0.8em;
	background: rgb(222, 222, 222);
	color: #555;
	margin-bottom: 0;
}

pre.xdebug-var-dump .debug-section {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.35);
	border-color: #EEEEEE -moz-use-text-color;
	border-radius: 0;
	border-style: solid none;
	border-width: 1px 0;
	box-shadow: 0 0 0.2em 0.1em rgba(0, 0, 0, 0.03);
	height: auto;
	margin: 0 0 1em;
	min-height: 1.2em;
	padding: 0 0.8em;
	position: relative;
}
pre.xdebug-var-dump .debug-section legend {
	font-size: 1em;
	margin:0;
	padding:0;
	position: absolute;
}
pre.xdebug-var-dump .debug-section:last-child {margin-bottom:0;}
pre.xdebug-var-dump .debug-section i {color:#bbb;}
pre.xdebug-var-dump .debug-section.collapsed {
	height:1.2em;
	overflow:hidden;
}
pre.xdebug-var-dump .debug-section.collapsible i {display:none;}
pre.xdebug-var-dump .debug-section.collapsed i {display:inline;}




/*****************************************************************************
 *****************************************************************************
 **                     SORTABLES & NESTED SORTABLES                        **
 *****************************************************************************
 *****************************************************************************/
ol.sortable-listing {
	margin: 0.5em 0;
}
ol.sortable-listing li {
	display: block;
	list-style: none outside none;
}
ol.sortable-listing li div.entry {
	border: 1px solid #BBBBBB;
	padding: 0.25em;
}
ol.sortable-listing li.placeholder {
	border: 1px solid #BBBBBB;
	background: #BBB;
}
ol.sortable-listing li a.control {
	margin-top: -2px;
}
ol.sortable-listing ol {
	margin-left: 1em;
}




/*****************************************************************************
 *****************************************************************************
 **                           PRIMARY NAVIGATION                            **
 *****************************************************************************
 *****************************************************************************/
nav ul {
	margin-left: 0;
}
#primary-nav li {
	display: inline-block;
	position: relative;
	text-align: center;
}
#primary-nav li.navigation-menu-over a:hover {
	background: #333;
	transition: background 0.3s;
}
#primary-nav a,
#primary-nav span {
	color: #777;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 0.5em 1em;
	width: 160px;
}
/* Enable the mouse over menu */
#primary-nav li.navigation-menu-over>ul {
	display: block;
}
/* And the sub menu */
#primary-nav li ul {
	display: none;
	position: absolute;
	background: black;
	border: 1px solid black;
	border-top: 0 none;
	width: 190px;
	-moz-box-shadow: 0 3px 6px #000;
	-webkit-box-shadow: 0 3px 6px #000;
	box-shadow: 0 3px 6px #000;
}
#primary-nav li ul li {
	width: 190px;
	text-align: left;
}
#primary-nav li ul a,
#primary-nav li ul span {
	padding-left: 20px;
	width: 155px;
}
/* And any sub sub menu */
#primary-nav li ul li ul {
	top: -2px;
	left: 180px;
	display: none;
	position: absolute;
	background: #1C2B0D;
	border: 1px solid black;
	border-left: 0 none;
	width: 190px;
	-moz-box-shadow: 0 3px 6px #000;
	-webkit-box-shadow: 0 3px 6px #000;
	box-shadow: 0 3px 6px #000;
}
#primary-nav a:hover {
	text-shadow: none;
}



/*****************************************************************************
 *****************************************************************************
 **                          FOOTER NAVIGATION                              **
 *****************************************************************************
 *****************************************************************************/
footer ul.navigation-menu li {
	list-style-type: none;
	float: left;
	padding: 0 0.5em;
}
footer ul.navigation-menu li li {
	float: none;
}




/*****************************************************************************
 *****************************************************************************
 **                         COLLAPSIBLE FIELDSETS                           **
 *****************************************************************************
 *****************************************************************************/
fieldset.collapsed { padding:0; border-width: 1px 0 0; }




/*****************************************************************************
 *****************************************************************************
 **                            PROGRESS BARS                                **
 *****************************************************************************
 *****************************************************************************/
.progress-container {
	position: relative;
}
.progress-success {
	background: none repeat scroll 0 0 #992222;
	border: 2px solid green;
	height: 20px;
	margin-bottom: 5px;
}
.progress-success .bar {
	background: none repeat scroll 0 0 green;
	height: 20px;
}
.progress-container .progress-extended {
	color: white;
	left: 46px;
	position: absolute;
	top: 6px;
}




@import "filters_and_pagination";
@import "pages_page";
@import "pages_theme";


.widgetarea-admindashboard .widget {
	background: #e9e9e9;
	border: 1px solid #BBBBBB;
	border-radius: 0.25em 0.25em 0.25em 0.25em;
	float: left;
	margin: 0.5em;
	padding: 1em;
}

.widgetarea-admindashboard .widget h3 {
	text-align: center;
	margin-bottom: 0.5em;
}


/**
 * LOGIN / REGISTER PAGES
 */

.user-login-center {

	/** If the page is set to use 2-columns, then do so. */
	.user-login-existing.col-2 .user-login-include {
		float: left;
		width: 49%;
	}

	.login-forgot {
		float: right;
		color:#969696;
		font-style:italic;
	}

	.user-login-section-heading {
		text-align: center;
		margin-bottom: 0.75em;
		font-style: italic;
	}
}

a.agplv3-tag {
	color: white;
	text-shadow: 0px 0px 3px #636;

	&:hover {
		color: #636;
		text-shadow: 0px 0px 3px white;
	}
}