/************************************************
 ****           Frontend styles
 ***********************************************/

.blog-listing {
	// blog-listing is on the multi-blog index page and the single blog listing page.
	
	.blog-article {
		// Each individual blog article within the index and listing pages.
		
		border-bottom: 1px solid #BBBBBB;
		display: table;
		margin-bottom: 1em;
		padding-bottom: 0.5em;
		width: 100%;
		
		.blog-article-image {
			display: table-cell;
			height: 80px;
			overflow: hidden;
			position: relative;
			width: 90px;
			vertical-align: top;
			
			img {
				position: absolute;
			}
		}
		
		.blog-article-content {
			display: table-cell;
			padding-left: 1em;
			
			.blog-article-title {
				font-size: 115%;
				line-height: 1.5em;
			}
		}
	}
	
	
	.blog-article-date {
		float: right;
		font-size: 90%;
	}
	.blog-article-read-more {
		color: #666;
		font-size: 90%;
	}
	.blog-article.blog-article-status-draft {
		background-color: rgba(200, 150, 50, 0.4);
	}
}


/************************************************
 ****           Backend styles
 ***********************************************/

table.listing tbody .blog-article-status-draft {
	background-color: rgba(200, 150, 50, 0.4);
}


/************************************************
 ****           Widget styles
 ***********************************************/

/**
 * Search Widget
 */
.blog-search-widget {
	.blog-search-widget-entry {
		float: right;
		position: relative;
	}
	.blog-search-widget-entry i {
		position: absolute;
		right: 5px;
		top: 5px;
	}
	.blog-search-widget-submit {
		display: none;
	}
}

.blog-article-widget {
	.blog-article-widget-link {
		display: block;
		padding-bottom: 0.25em;
	}
}

/**
 * The actual page
 */

.blog-article {
	video {
		max-width: 100%;
	}
}