.page-admin-health {
	.health-checks {
		li {
			list-style: none;
			
			&.health-check-good i.status-icon {
				color: $success-color;
			}
			
			&.health-check-warn i.status-icon {
				color: $warning-color;
			}

			&.health-check-errr i.status-icon {
				color: $error-color;
			}

			&.health-check-skip i.status-icon {
				color: $deprecated-color;
			}
		}
	}
}