/**
 * Styles for standard HTML tags
 */

html {
	box-sizing: border-box;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

::selection {
	background: $action-color;
	color: $base-background-color;
}
::-moz-selection {
	background: $action-color;
	color: $base-background-color;
}

body {
	background-color: $body-background-color;
	color: $base-foreground-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	height: 100%;
	line-height: $base-line-height;
}

pre, code {
	font-family: $monospace;
}

ul {
	list-style-type: disc;
	margin: 0 0 0 1em;
	padding: 0;
}

ol {
	list-style-type: decimal;
	margin: 0 0 0 1em;
	padding: 0;
}

dl {
	margin: 0;
}

dt {
	font-weight: 600;
	margin: 0;
}

dd {
	margin: 0;
}

h1 {
	font-size: $h1-font-size;
	font-family: $h1-font-family;
	line-height: $heading-line-height;
	margin: 0 0 $small-spacing;
}

h2 {
	font-size: $h2-font-size;
	font-family: $h2-font-family;
	line-height: $heading-line-height;
	margin: 0 0 $small-spacing;
}

h3 {
	font-size: $h3-font-size;
	font-family: $h3-font-family;
	line-height: $heading-line-height;
	margin: 0 0 $small-spacing;
}

h4 {
	font-size: $h4-font-size;
	font-family: $h4-font-family;
	line-height: $heading-line-height;
	margin: 0 0 $small-spacing;
}

h5 {
	font-size: $h5-font-size;
	font-family: $h5-font-family;
	line-height: $heading-line-height;
	margin: 0 0 $small-spacing;
}

h6 {
	font-size: $h6-font-size;
	font-family: $h6-font-family;
	line-height: $heading-line-height;
	margin: 0 0 $small-spacing;
}

fieldset {
	background-color: $secondary-background-color;
	border: $base-border;
	border-radius: $base-border-radius;
	color: $secondary-foreground-color;
	margin: 0;
	padding: $base-spacing;
}

legend {
	font-weight: 600;
	margin-bottom: $small-spacing / 2;
	padding: 0;
}

p {
	margin: 0 0 $small-spacing;
}

a {
	color: $action-color;
	text-decoration: none;
	transition: color $base-duration $base-timing;

	&:active,
	&:focus,
	&:hover {
		color: shade($action-color, 25%);
	}
}

// External links inside the inner wrapper (body wrapper), should have an icon.
#inner-wrapper a[target=_blank]:after {
	// Stylize any external link with the external link icon.
	@include core2017-fa-icon(" \f08e");
	padding-left: 0.35em;
}

hr {
	border-bottom: $base-border;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	margin: $base-spacing 0;
}

figure {
	margin: 0;
}

img,
picture {
	margin: 0;
	max-width: 100%;
}

table {
	border-collapse: collapse;
	margin: $small-spacing 0;
	table-layout: fixed;
	width: 100%;
}

th {
	border-bottom: $base-border-size solid shade($base-border-color, 25%);
	font-weight: 600;
	padding: $small-spacing 0;
	text-align: left;
}

td {
	border-bottom: $base-border;
	padding: $small-spacing 0;
}

tr,
td,
th {
	vertical-align: middle;
}

aside.markdown-toc {
	float: left;
	margin-right: 1em;

	ul {
		margin-left: 1em;
	}
}

.useragent-pretty-browser, .useragent-pretty-platform, .useragent-pretty-device {
	// These include icons and should be rendered on one line if at all possible.
	// inline-block will provide that.
	display: inline-block;
}

a.agplv3-tag {
	display: inline-block;
	padding: 0 0.25em;
	color: #636;

	&:hover {
		border-radius: 0.5em;
		background-color: #636;
		color: white;
	}
}