.pagination {
	color: #555555;
	font-size: 84%;
	padding: 0 0.5em;
	margin: 0.5em 0;
	text-align: center;

	a {
		text-decoration: none;
		color: #555555;
	}
	.disabled {
		color: #999;
	}

	.pagination-pager {
		float: left;
	}
	
	.pagination-limit-selector {
		// This is a select object which usually renders as a block element.
		display: inline;
	}

	.pagination-list {
		float: right;
	}
}

.listing-filters {
	.formelement {
		float: none;
		display: inline-block;
		margin-right: 1em;
		vertical-align: top;
	}
	
	.listing-filters-break {
		clear: left;
	}
}


// RESPONSIVE TWEAKS!
@media only screen and (max-width: $breakpoint-tablet){
	.listing-filters {
		.formelement {
			width: 48%;
			margin-right: 1%;
			
			&:nth-child(2){
				margin-right: 0;
			}
			
			select {
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: $breakpoint-mobile){
	.listing-filters {
		.formelement {
			width: 100%;
			margin-right: 0;
			
			select {
				width: 100%;
			}
		}
	}
	
	.pagination {
		.pagination-list {
			display: none;
		}
	}
}