/*****************************************************************************
 *****************************************************************************
 **                               LAYOUTS                                   **
 ** Controls the main page layout, including columns and page sections.     **
 **                                                                         **
 **                                                                         **
 **                                                                         **
 *****************************************************************************
 *****************************************************************************/

.outer-wrapper {
	@include outer-container;
}
.skin-wide .outer-wrapper {
	@include outer-container(115em);
	margin: 0 1em;
}

/**
 * The page controls that get floated to the right
 */
.page-controls-wrapper {
	float: right;
}

.page-column-width-2 {
	.page-column {
		// 2-column layouts have two columns, (obviously).
		@include span-columns(2);
	}

	.page-content {
		@include span-columns(8);
	}
}

.page-column-width-1 {
	.page-column {
		@include span-columns(3);
	}

	.page-content {
		@include span-columns(9);
	}
}

.page-column-width-0 {
	.page-column {
		display: none;
	}

	.page-content {
		// No modification needed here, there are no columns!
	}
}

.page-content-and-columns-wrapper {
	clear: both;
	margin-top: 2em;
}


.page-footer {
	clear: both;
}

@media only screen and (max-width: $breakpoint-narrow) {
	// On < 1000px displays, hide the RIGHT COLUMN only,
	// it is assumed that the left column is more important.
	
	.page-column-width-2 {
		.page-content {
			width: 80%;
			padding: 0 1em 0 0;
		}
		#right-col {
			display: none;
		}
	} 
}

@media only screen and (max-width: $breakpoint-tablet) {
	
	// Both columns are hidden on < 800px displays.
	.page-column-width-1, .page-column-width-2 {
		.page-content, {
			width: 100%;
			padding: 0 1em;
		}
		aside.page-column {
			display: none;
		}
	}
}

@media only screen and (max-width: $breakpoint-mobile) {
	.ui-tabs .ui-tabs-nav li {
		float: none;
		display: block;
		width: 100%;
	}
	.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
		float: none;
		display: block;
	}
}