/*****************************************************************************
 *****************************************************************************
 **                               MESSAGES                                  **
 *****************************************************************************
 *****************************************************************************/
/** general styles for most of the messages **/
.message-note,
.message-info,
.message-success,
.message-warning,
.message-deprecated,
.message-error {
	border-radius: $base-border-radius;
	padding: ($base-spacing / 2) ($base-spacing / 2) ($base-spacing / 2) 55px;
	margin: ($base-spacing / 4);
	text-align:center;
	overflow: hidden;
	font-size: 106%;
	position: relative;;
}
.message-tutorial {
	padding: ($base-spacing / 2) ($base-spacing / 2) ($base-spacing / 2) 4em;
	margin: ($base-spacing / 4);
	text-align: left;
	overflow: hidden;
	position: relative;;
}

/** And the message's icons **/
.message-note .message-background-icon,
.message-info .message-background-icon,
.message-success .message-background-icon,
.message-warning .message-background-icon,
.message-deprecated .message-background-icon,
.message-error .message-background-icon,
.message-tutorial .message-background-icon {
	font-size: 4em;
	left: -6px;
	line-height: 1em;
	opacity: 0.3;
	position: absolute;
	top: -11px;
	z-index: 2;
}

/** Specific colors for specific message types. **/
.message-note {
	background:#FCF0AD;
	border:1px solid #BCB06D;

	.message-background-icon {
		color: #BCB06D;
	}
}
.message-info {
	background: darken($info, 50%);
	border:1px solid darken($info, 33%);
	color: $info;

	.message-background-icon {
		color: $info;
	}
}
.message-success {
	background: darken($success, 50%);
	border: 1px solid darken($success, 33%);
	color: $success;

	.message-background-icon {
		color: $success;
	}
}
.message-deprecated {
	background: darken($deprecated, 50%);
	border:1px solid darken($deprecated, 33%);
	color: $deprecated;

	.message-background-icon {
		color: $deprecated;
	}
}
.message-warning {
	background: darken($warning, 50%);
	border:1px solid darken($warning, 33%);
	color: $warning;

	.message-background-icon {
		color: $warning;
	}
}
.message-error {
	background: darken($error, 50%);
	border:1px solid darken($error, 33%);
	color: $error;

	.message-background-icon {
		color: $error;
	}
}
.message-tutorial {
	background: darken($tutorial, 50%);
	border:1px solid darken($tutorial, 33%);
	color: $tutorial;

	.message-background-icon {
		color: $tutorial;
	}
}
