label, .form-element-label {
	display: block;
	font-weight: 600;
	margin-bottom: $small-spacing / 2;
	display: inline-block;
}

input,
select,
textarea {
	display: block;
	font-family: $base-font-family;
	font-size: $base-font-size;
}

#{$all-text-inputs} {
	appearance: none;
	background-color: $base-background-color;
	border: $base-border;
	border-radius: $base-border-radius;
	box-shadow: $form-box-shadow;
	box-sizing: border-box;
	margin-bottom: $small-spacing;
	padding: $base-spacing / 3;
	transition: border-color $base-duration $base-timing;
	width: 100%;

	&:hover {
		border-color: shade($base-border-color, 20%);
	}

	&:focus {
		border-color: $action-color;
		box-shadow: $form-box-shadow-focus;
		outline: none;
	}

	&:disabled {
		background-color: shade($base-background-color, 5%);
		cursor: not-allowed;

		&:hover {
			border: $base-border;
		}
	}

	&::placeholder {
		color: tint($base-foreground-color, 40%);
	}
}

textarea {
	resize: vertical;
}

[type="checkbox"],
[type="radio"] {
	display: inline;
	margin-right: $small-spacing / 2;
}

[type="file"] {
	margin-bottom: $small-spacing;
	width: 100%;
}

select {
	margin-bottom: $small-spacing;
	width: 100%;
	color: #222; // hardcode this as selects don't style well.
}

.formelement {
	margin-bottom: 1.25em;

	span.form-element-description {
		// Inline element descriptions, (they're a span).
		margin-left: 2em;
		color: $form-element-description-color;
		font-size: $form-element-description-font-size;
	}
	p.form-element-description {
		// Standard/multi-line element descriptions, (they'll be a p).
		color: $form-element-description-color;
		font-size: $form-element-description-font-size;
		margin: 0 0 0.25em;
	}

	&.formselect select {
		// Reducing the padding set from bourbon for these, as the p.description following should be closer.
		margin-bottom: 0.20em;
	}

	&.formpagemetaauthorinput, &.formuserinput {
		/* Meta-Author input styles */
		.form-element-value {
			position: relative;

			input {
				padding-left: 24px;
				width: 93%;
			}
			.meta-author-indicator,
			.user-indicator{
				position: absolute;
				left: 8px;
				top: 4px;
			}
		}
	}
	&.formpagemetaauthorinput.user-valid .meta-author-invalid-indicator,
	&.formuserinput.user-valid .user-invalid-indicator {
		display: none;
	}
	&.formpagemetaauthorinput.user-invalid .meta-author-valid-indicator,
	&.formuserinput.user-invalid .user-valid-indicator{
		display: none;
	}
	
	&.formcheckboxesinput {
		// Multiple checkboxes input
		.checkboxes-toggle {
			color: $form-element-description-color;
			font-size: $form-element-description-font-size;
			cursor: pointer;
			margin-left: 2em;
		}
		
		.form-element-value label {
			font-weight: inherit;
			display: inline-block;
			margin-right: 2em;
			min-width: 17em;
		}
	}

	&.formradioinput {
		// Radio input
		.form-element-value label {
			font-weight: inherit;
			display: inline-block;
			margin-right: 1em;
		}
	}
	
	&.formelement-disabled {
		// Lighten disabled form elements a bit to make them more notable.
		opacity: 0.4;
	}
	
	&.formfileinput {
		table.form-element-value {
			.formfileinput-selector {
				width: 30%;
			}
		}
		
		td {
			padding: 0;
		}
	}

}


// Lighten up the readonly overlay a bit.
body .readonly_overlay {
	background-color: rgba(230, 230, 230, 0.4);
	opacity: 1;
}

