/**
 * LAYOUTS
 * 
 * Styles for the skin layouts and the common elements therein,
 * such as outer wrappers, inner wrappers, headers, footers, sections, etc.
 */

.outer-wrapper {
	@include grid-container;
	background-color: $base-background-color;
	color: $base-foreground-color;
	margin: 0 auto;
	padding: 0 $base-spacing;
}
.skin-basic .outer-wrapper,
.skin-blank .outer-wrapper {
	max-width: $breakpoint-narrow;
}
.skin-wide .outer-wrapper {
	max-width: 100%;
}

header.page-header {
	background-color: $page-header-background-color;
	// This little trick allows the background to span the full width
	// of the outer wrapper, while preserving the same horizontal 
	// alignment with the rest of the page.
	margin: 0 (0 - $base-spacing);
	padding: 0 $base-spacing;
	
	.site-social-links {
		float: right;
		font-size: 200%;
	}

	.listing-schema-information {
		// Clear the social links that may be here too.
		clear: right;
		float: right;
		font-size: 90%;

		.listing-schema-address-address {
			display: block;
		}
	}
}

.inner-wrapper {
	clear:both;
}

/**
 * The page controls that get floated to the right
 */
.page-controls-wrapper {
	float: right;
}

.page-column-width-2 {
	.page-column {
		// 2-column layouts have two columns, (obviously).
		@include grid-column(2);
	}

	.page-content {
		@include grid-column(8);
	}
}

.page-column-width-1 {
	.page-column {
		@include grid-column(3);
	}

	.page-content {
		@include grid-column(9);
	}
}

.page-column-width-0 {
	.page-column {
		display: none;
	}

	.page-content {
		// No modification needed here, there are no columns!
	}
}

.page-content-and-columns-wrapper {
	clear: both;
	margin-top: 2em;
}


footer.page-footer {
	clear: both;
	padding-top: 2em;

	.listing-schema-information {
		font-size: 75%;

		.listing-schema-address-address {
			display: block;
		}
	}

	.legal-notice {
		font-size: 75%;
	}
}


/**
 * On < 1000px displays, hide the RIGHT COLUMN only,
 * it is assumed that the left column is more important.
 */
@media only screen and (max-width: $breakpoint-narrow) {
	.page-column-width-2 {
		.page-content {
			width: 80%;
			padding: 0 1em 0 0;
		}
		#right-col {
			display: none;
		}
	} 
}

/**
 * Layout settings with display sizes < 790px (by default)
 */
@media only screen and (max-width: $breakpoint-tablet) {
	
	// Both columns are hidden on < 800px displays.
	.page-column-width-1, .page-column-width-2 {
		.page-content, {
			width: 100%;
			padding: 0 1em;
		}
		aside.page-column {
			display: none;
		}
	}
}

@media only screen and (max-width: $breakpoint-mobile) {
	.ui-tabs .ui-tabs-nav li {
		float: none;
		display: block;
		width: 100%;
	}
	.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
		float: none;
		display: block;
	}
}