.progress-log-wrapper {
	.progress-log-title {
		display: inline-block;
		font-size: 1.5em;
		font-weight: bold;
		width: 90%;
	}
	
	.progress-log-view-details {
		display: inline-block;
		width: 9%;
		text-align: right;
	}
	
	.progress-log-progressbar {
		height: 2em;
		border: $base-border;
		border-radius: $base-border-radius;
		overflow: hidden;
	}
	
	.progress-log-progressbar-inner {
		height: 2em;
		background-color: $action-color;
	}
	
	.progress-log-iframe {
		width: 100%;
		height: 25em;
	}
}

/*
<div id="$logname-container" style="display:none;" class="progress-log-wrapper">
<div class="progress-log-title"></div>
<div class="progress-log-progressbar">
<div class="progress-log-progressbar-inner"></div>
</div>
<p class="progress-log-message"></p>

<a href="#" class="progress-log-view-details">View Details</a><br/>
<iframe id="$logname-frame" name="$logname" class="progress-log-iframe" style="display:none;"></iframe>
</
*/