/*** Widget and Widgetareas ***/
.widget-dragtarget { padding:15px 0px; border:2px dashed #9A9; }
.widget-dragtarget.highlightdroptarget { padding:15px 0px; border:2px dashed blue; }
.widget-source { z-index:2000; border: 2px solid green; padding:0.25em; cursor:move;}
.widget-dragsource.ui-sortable { border:2px solid green; cursor:move;}


.widget-dragsource,
.widget-dragdropped {
	height: 20px;
	padding-top: 5px;
	padding-left: 10px;
	cursor: move;
	margin-bottom:5px;
	width: 400px;
}

.widget-dragsource { border: 1px solid #999; }
.widget-dragdropped { border: 1px solid #9C9; }
.widget-dragsource span.widget-title,
.widget-dragdropped span.widget-title
{
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	width: 300px;
}


.widget-bucket-source { float:left; width:50%; }
.widget-bucket-source a.control { display:none; }

.widget-bucket-destination { float:left; width:50%; }

