fieldset.collapsible {
	.fieldset-title {
		margin: -1em -1em 0.5em;
		img {
			// These sometimes have images in them; display them vertically aligned.
			vertical-align: middle;
		}
	}

	.expandable-hint {
		display: none;
	}
	.collapsible-hint {
		display: inline-block;
		padding: 0 0.3em;
	}

	&.collapsed {
		padding: 1.5em 1.5em 0;

		.expandable-hint {
			display: inline-block;
			padding: 0 0.3em;
		}
		.collapsible-hint {
			display: none;
		}
	}
}
