/**
 * General content styles
 */

header.page-header {
	.site-social-links {
		float: right;
		font-size: 200%;
	}

	.listing-schema-information {
		// Clear the social links that may be here too.
		clear: right;
		float: right;
		font-size: 90%;

		.listing-schema-address-address {
			display: block;
		}
	}
}

pre code {
	display: block;
	padding: 0.5em 1em;
	border: 1px solid;
}

ul {
	list-style-type: disc;
	margin-left: 1em;
}

ol {
	list-style-type: decimal;
	margin-left: 1em;
}

h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}

aside.markdown-toc {
	float: left;
	margin-right: 1em;

	ul {
		margin-left: 1em;
	}
}

footer.page-footer {

	padding-top: 2em;

	.listing-schema-information {
		font-size: 75%;

		.listing-schema-address-address {
			display: block;
		}
	}

	.legal-notice {
		font-size: 75%;
	}
}