/**
 * General content styles
 */

header.page-header {
	.site-social-links {
		float: right;
		font-size: 200%;
	}

	.listing-schema-information {
		// Clear the social links that may be here too.
		clear: right;
		float: right;
		font-size: 90%;

		.listing-schema-address-address {
			display: block;
		}
	}
}

section.page-content {
	margin-top: 2em;
}

a.button {
	@include button();
}

pre code {
	display: block;
	padding: 0.5em 1em;
	border: 1px solid;
}

aside.markdown-toc {
	float: left;
	margin-right: 1em;

	ul {
		margin-left: 1em;
	}
}

footer.page-footer {

	padding-top: 2em;

	.listing-schema-information {
		font-size: 75%;

		.listing-schema-address-address {
			display: block;
		}
	}

	.legal-notice {
		font-size: 75%;
	}
}