/*****************************************************************************
 *****************************************************************************
 **                          DEBUGGING CLASSES                              **
 *****************************************************************************
 *****************************************************************************/
pre.xdebug-var-dump {
	padding: 0;
	text-align: left;
	font-size: 0.7em;
	background: #eceaea;
	color: #747171;
	margin: 0;
}
