.pagination {
	color: #555555;
	font-size: 84%;
	padding: 0 0.5em;
	margin: 0.5em 0;
	text-align: center;

	a {
		text-decoration: none;
		color: #555555;
	}
	.disabled {
		color: #999;
	}

	.pagination-pager {
		float: left;
	}
	
	.pagination-limit-selector {
		// This is a select object which usually renders as a block element.
		display: inline;
	}

	.pagination-list {
		float: right;
	}
}

.listing-filters {
	.formelement {
		float: left;
		margin-right: 1em;
	}

	.reset-filters {
		float: right;
		color: rgb(245, 159, 165);
	}

	.apply-filters {
		float: right;
		color: rgb(156, 237, 154);
		margin-right: 1em;
	}
}