// Normalize styling.
@import "vendor/normalize";

// Bourbon base styles.
@import "vendor/bourbon/bourbon";

// Variables is used by Bitters, and defined outside vendor for customizations.
@import "variables";
@import "vendor/bitters/base";

// Bourbon grid system, Neat.
@import "vendor/neat/neat";

// Start Core-specific components
@import "form_elements";
@import "debugging";
@import "controls";
@import "filters_and_pagination";
@import "listing_tables";
@import "messages";
@import "layout";
@import "collapsible_fieldsets";
@import "pages/updater";
@import "pages/widgets";
@import "pages/theme";
@import "pages/user";
@import "content";

#admin-bar {
	@include clearfix;
}

@media print {
	@import "_print";
}

@media screen,projection {
	@import "screen";
}

a.agplv3-tag {
	display: inline-block;
	padding: 0 0.25em;
	color: #636;

	&:hover {
		border-radius: 0.5em;
		background-color: #636;
		color: white;
	}
}