/** Admin Bar **/
#admin-bar {
	/*position: fixed;*/
	background: #030303;
	font-size: 80%;
	width:100%;
	border-bottom: 1px solid #010101;
	z-index: 9999;
	padding:5px 0;
	/* Safari and some versions of Chrome on tablets do not support this hidden/fixed/fixed trick. */
	/*overflow:hidden;*/
	top: 0;
	box-shadow: 0 0 3px rgb(10, 10, 10);
	position: relative;
}

#admin-bar ul {
	position:relative;
	top:8px;
	padding-left: 20px;
	margin: 0;
}

.icon-chevron-right,
.icon-chevron-left {color:#fff;}

#admin-bar a,
#admin-bar a:visited {
	color:#aaa;
	text-decoration:none;
}

#admin-bar.admin-bar-collapsed{
	border-right: 1px solid black;
	/*width: 30px;*/
	width:100%;
	min-height: 30px;
}

#admin-bar ul li {
	float: left;
	list-style: none;
	margin-right:17px;
	height:30px;
}

#admin-bar ul li:hover a {border-bottom:2px solid #aaa}

#admin-bar ul li:last-child {margin-right:0;}

#admin-bar .admin-bar-toggle{
	color: black;
	font-size: 150%;
	line-height: 1.5em;
	padding-left: 4px;
	text-decoration: none;
	letter-spacing: -0.2em;
	display: block;
	float: left;
	width: 22px;
	display:none;
}

/** When the admin bar is collapsed **/
.admin-bar-collapsed .admin-bar-toggle i.icon-chevron-left {
	display: none;
}
.admin-bar-collapsed ul {}


/** When the admin bar is expanded **/
.admin-bar-expanded .admin-bar-toggle i.icon-chevron-right {
	display: none;
}

#admin-bar ul li i.icon-cogs {
	font-size:150%;
	cursor:pointer;
}


#admin-bar .sub-menu {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
	border: 1px solid #010101;
	box-shadow: 0 0 2px 1px rgb(0,0,0) inset, 0 1px 4px rgba(0, 0, 0, 0.8);
	display: none;
	padding: 0;
	position: fixed;
	top: 40px;
	z-index: 9999;
}

#admin-bar ul .sub-menu li {
	float: none;
	text-align: left;
	cursor:pointer;
	margin:0;
	height:auto;
}

#admin-bar ul .sub-menu li:last-child {
	padding-bottom:3px;
}

#admin-bar ul .sub-menu li a {
	text-decoration:none;
	border-bottom:0;
	position:relative;
	padding: 6px 10px 6px 10px;
	display:block;
}

#admin-bar ul .sub-menu li:hover {
	background:#000;
}

#admin-bar ul .sub-menu li:hover a {
	color:#fff;
	border-bottom:0;
}

#admin-bar ul li.has-sub {padding:0 15px 0 0;}

#admin-bar ul li.has-sub:hover > ul.sub-menu {
	/*display:block;*/
}

#admin-bar .userloginwidget {
	float:right;
	display:inline-block;
	margin-right:15px;
	margin-top:8px;
}

#admin-bar i,
#admin-bar {
	color:#eeeeee;
}
/** End Admin Bar **/
