/*** Widget and Widgetareas ***/
/* The drop target at the top of the page */
/* line 10, ../../scss/admin/widgets.scss */
.widget-bucket-destination .widgetarea {
  float: left;
  width: 212px;
  margin-right: 5px;
}
/* line 16, ../../scss/admin/widgets.scss */
.widget-bucket-destination .widget-instance {
  border: 1px solid #666;
  text-align: center;
  padding-bottom: 5px;
  min-height: 130px;
}
/* line 22, ../../scss/admin/widgets.scss */
.widget-bucket-destination .widget-instance .widget-title {
  display: block;
  text-align: center;
}
/* line 28, ../../scss/admin/widgets.scss */
.widget-bucket-destination .widget-droptarget {
  border: 2px dashed #c6c2bb;
  min-height: 150px;
  /* The widget when it's in the droptarget */
}
/* line 32, ../../scss/admin/widgets.scss */
.widget-bucket-destination .widget-droptarget.highlightdroptarget {
  border: 2px dashed green;
}
/* line 37, ../../scss/admin/widgets.scss */
.widget-bucket-destination .widget-droptarget .widget-dragdropped {
  border: 1px solid #888888;
  cursor: move;
  font-size: 80%;
  height: 20px;
  margin-bottom: 2px;
  overflow: hidden;
  padding-top: 2px;
  padding-left: 2px;
  position: relative;
  width: 242px;
}
/* line 49, ../../scss/admin/widgets.scss */
.widget-bucket-destination .widget-droptarget .widget-dragdropped span.widget-title {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
/* line 55, ../../scss/admin/widgets.scss */
.widget-bucket-destination .widget-droptarget .widget-dragdropped span.widget-title-listing {
  display: none;
}
/* line 59, ../../scss/admin/widgets.scss */
.widget-bucket-destination .widget-droptarget .widget-dragdropped .widget-controls {
  background: #888888;
  bottom: 0;
  display: none;
  padding: 0 5px;
  position: absolute;
  right: 0;
}
/* line 67, ../../scss/admin/widgets.scss */
.widget-bucket-destination .widget-droptarget .widget-dragdropped .widget-controls a {
  color: white;
}
/* line 72, ../../scss/admin/widgets.scss */
.widget-bucket-destination .widget-droptarget .widget-dragdropped:hover .widget-controls {
  display: block;
}

/* line 80, ../../scss/admin/widgets.scss */
.widget-bucket-source .widget-source {
  float: left;
  border: 1px solid #666;
  margin: 0 5px 5px 0;
  text-align: center;
  padding-bottom: 5px;
  min-height: 200px;
  width: 210px;
}
/* line 89, ../../scss/admin/widgets.scss */
.widget-bucket-source .widget-source .widget-title {
  display: block;
  text-align: center;
}

/* line 97, ../../scss/admin/widgets.scss */
.widget-bucket-registration .widget-registration {
  float: left;
  border: 1px solid #666;
  margin: 0 5px 5px 0;
  text-align: center;
  padding-bottom: 5px;
  min-height: 140px;
  width: 210px;
}

/** The drag source, and the proxy object **/
/* line 110, ../../scss/admin/widgets.scss */
.widget-dragsource {
  cursor: move;
}
/* line 113, ../../scss/admin/widgets.scss */
.widget-dragsource.ui-draggable-dragging {
  border: 1px solid #888888;
  height: 36px !IMPORTANT;
  margin-bottom: 2px;
  overflow: hidden;
  padding-top: 2px;
  padding-left: 2px;
  width: 142px;
}
/* line 122, ../../scss/admin/widgets.scss */
.widget-dragsource.ui-draggable-dragging span.widget-title-listing {
  display: none;
}
/* line 126, ../../scss/admin/widgets.scss */
.widget-dragsource.ui-draggable-dragging span.widget-title {
  display: inline-block;
  font-size: 80%;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}
/* line 134, ../../scss/admin/widgets.scss */
.widget-dragsource.ui-draggable-dragging .widget-controls {
  display: none;
}

/** The listing table and the contained widget drag sources. **/
/* line 142, ../../scss/admin/widgets.scss */
.listing .widget-dragsource .widget-title {
  display: none;
}
/* line 145, ../../scss/admin/widgets.scss */
.listing .widget-dragsource .widget-controls {
  display: none;
}

/*# sourceMappingURL=widgets.css.map */
